* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("pexels-francesco-ungaro-998641.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
}
body::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -2;
}
.container {
  width: 40vw;
  height: 39vw;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  position: relative;
  z-index: 1;
}
.earth {
  background: url("flat_earth03.jpg");
  background-size: contain;
  background-repeat: repeat-x;
  height: 105%;
  width: 1000000vw;
  position: absolute;
  animation: rotate 100000s linear infinite alternate;
  z-index: 1;
  box-shadow: inset 280px 0 100px rgba(0, 0, 0, 0.5);
}
.moon {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  position: absolute;
  animation: circle 15s linear infinite;
  right: 10%;
  top: 30%;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.texture {
  background: url("lroc_color_poles_1k.jpg");
  background-size: contain;
  background-repeat: repeat-x;
  height: 100%;
  width: 1000000vw;
  position: absolute;
  animation: rotate 159000s linear infinite alternate;
  box-shadow: inset 40px 0 40px rgba(250, 250, 250, 0.05);
}
@keyframes rotate {
  from {
    transform: rotateZ(10deg);
    background-position: 0;
  }
  to {
    transform: rotateZ(10deg);
    background-position: 100%;
  }
}
@keyframes circle {
  0% {
    transform: translateX(0);
    z-index: 3;
  }
  25% {
    transform: scale(2) translateX(-20vw) translateY(90px);
  }
  50% {
    transform: scale(1) translateX(-80vw) translateY(200px);
  }

  75% {
    z-index: -1;
    transform: scale(0.4) translateX(-25vw) translateY(30px);
  }
  100% {
    transform: translateX(0);
  }
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 10px;
}
footer a {
  text-decoration: none;
  color: rgb(34, 148, 214);
}
footer i {
  font-size: 1rem;
  padding: 10px;
  color: rgb(218, 211, 211);
}
